[user]
    email = jerrygenser@gmail.com
    name = Jerry Genser

[pull]
    rebase = true

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false
    prompt = true

