[user]
    email = jerrygenser@gmail.com
    name = Jerry Genser

[core]
    editor = nvim -f

[pull]
    rebase = true

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false
    prompt = true

[credential]
	helper = --help
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
